<table class="table" [border]="displayedColumns">
  <tr>
    <th class="table-column__header-cell" *ngIf="source=='not specified' || source==null">Source</th>
    <th class="table-column__header-cell">Date-time</th>
    <th class="table-column__header-cell">Message</th>
    <th class="table-column__header-cell">Action</th>
  </tr>
    <tr *ngFor="let item of logs | paginate:{itemsPerPage: 20, currentPage: p} ">
      <th *ngIf="source=='not specified' || source==null" class="table-column__source">{{item.source}}</th>
      <th class="table-column__date">{{item.dateTime | date}}</th>
      <th class="table-column__message">{{item.message}}</th>
      <th class="table-column__action"><button (click)="save(item.dateTime, item.source)">save</button></th>
    </tr>
</table>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
