.table {
  width: calc(100% - 20px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-content: center;
}

.table-column{
}

.table-column__header-cell{
  text-align: center;
  font-size: 20px;
}

.table-column__source{
  text-align: center;
}

.table-column__date{
  white-space: pre;
  text-align: center;
}

.table-column__message{
  text-align: left;
}

.table-column__action{

}
